.grid-container {
  display: grid;
  grid-template-areas:
    "header header header header header header"
    "content content content content content sidebar"
    "footer footer footer footer footer sidebar";
  grid-gap: 10px;
  background-color: #2196f3;
  padding: 10px;
}
